.compare-container {
    position: fixed;
    width: 100%; /* Ensure the container takes the full width */
    height: 100%; /* Ensure the container takes the full height */
    display: flex;
    align-items: center; /* Center the content vertically */
    flex-direction: column;
    margin-top: 200px;
    margin-left: 100px;
}

.compare-space {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 1300px;
    height: 280px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    /* background: wheat; */ /* Uncomment to see the space */
}
  
.compare-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 531px;
    height: 100%;
    background: lightgray;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}

.add-movie-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #667A8A;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.add-movie-button:hover {
    background-color: #546A7B;
}

.add-movie-button:focus {
    outline: none;
}

.plus-icon {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}

.compare-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 318px;
    /* background: wheat; */ /* Uncomment to see the space */
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.compare-graph-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 531px;
    height: 100%;
    background: lightgray;
    border-radius: 20px;
}

.MuiDialog-paper {
    min-width: 400px;
}
  
.MuiListItem-root {
    cursor: pointer;
}

.MuiListItem-root:hover {
    background-color: rgba(0, 0, 0, 0.04);
}